<h1 class="full">Morton General Hospital Galleries</h1>

<% content_for :body_content_left do %>
    <% if @galleries.any? %>
        <% for g in @gallery_names %>
            <div style="float: left; margin-right: 20px; margin-bottom: 20px;">
                <a href="/photos/<%= g %>">
                <img src="<%= @galleries[g].image.url %>" style="height: 100px; display: block; margin-bottom: 5px;">
                <%= g %>
                </a>
            </div>
        <% end %>
        <div class="clearfix"></div>
    <% else %>
        <p><em><%= t('.no_items_yet') %></em></p>
    <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
