<% content_for :body_content_title, @gallery_name %>
<% content_for :body_content_left do %>
  <article class="photo">
      <% if @photos.count > 0 %>
      <div class="galleria">
          <% for photo in @photos %>
          <a href="<%= photo.image.url %>">
            <img src="<%= photo.image.thumbnail(:small).url %>" data-title="<%= photo.title %>">
          </a>
          <% end %>
      </div>
          <%= javascript_tag 'galleria-1.4.2.min.js' %>
          <script>
            Galleria.loadTheme('/public/javascripts/galleria/themes/classic/galleria.classic.min.js');
            Galleria.run('.galleria');
          </script>
      <% end %>
    <p>
      <%= link_to t('.back_to_index'), photos_url %>
    </p>
  </article>
<% end %>

<%= render :partial => "/shared/content_page" %>
