<% content_for :body_content_title, @gallery_name %>
<% content_for :body_content_left do %>
  <article class="photo">
      <div class="galleria">
          <% for photo in @photos %>
          <a href="<%= photo.image.url %>">
            <img src="<%= photo.image.thumbnail(:small).url %>" data-title="<%= photo.title %>">
          </a>
          <% end %>
      </div>
    <p>
      <%= link_to t('.back_to_index'), photos_url %>
    </p>
  </article>
<% end %>

<%= render :partial => "/shared/content_page" %>
