<%= form_for [:admin, @birth] do |f| %>
  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => @birth,
               :include_object_name => true
             } %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :birth_date %>
    <%= f.date_select :birth_date %>
  </div>
  
  <div class='field'>
    <%= f.label :length %>
    <%= f.text_field :length, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :weight %>
    <%= f.text_field :weight, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :image %>
    <%= render :partial => "/shared/admin/image_picker", :locals => {:f => f, :field => :image_id, :image => @birth.image } %>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true,
               :delete_title => t('admin.births.birth.delete'),
               :delete_confirmation => t('shared.admin.delete.message', :title => @birth.name)
             } %>

<% end %>
